@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.topic-header{
    font-family: "Oswald", Arial, Helvetica, sans-serif;
}

p{
    font-family: "Oswald", Arial, Helvetica, sans-serif;
}

.card{
    width: 250px;
    height: 300px;   
}

.col{
    margin: .5em;
}

.jumbotron{
   background-color: #669933; 
   color: #000;
   margin: auto;
}

img{
    float: left;
    width: 200px;
    height: 200px;
}

button {
    background-color: #000;
    color: #FFF;
    width: auto;
    margin: 5px !Important;
    border: none;
    border-radius: .5em;
}