.jumbotron{
   background-color: #17a2b8 !important; 
   color: #FFF;
   margin: auto;
}

.foodImages {
    float: left;
    width: 250px;
}

button {
    background-color: #000;
    color: #FFF;
    width: 70px;
    margin: 5px !Important;
}